.container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-right: 30px;
    right: 0px;
    bottom: 0px;
}

.link {
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: #00fffc;
}

.link:hover {
    color: #ff00ae;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltipText {
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltipText {
    visibility: hidden;
    position: absolute;
    border: 1px solid #00FFFC;
    background: #00FFFC;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
    z-index: 1;
}

.innerTooltipText {
    width: fit-content;
    height: fit-content;
    padding: 5px;

    inset: 1px;
    background: #f6ff00;
    color: #000000;
    clip-path: inherit;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}