.container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-right: 30px;
    right: 0px;
    bottom: 0px;
}

.link {
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: #00fffc;
}

.link:hover {
    color: #d4ff00;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}