.container {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 20px;
    padding-right: 30px;
    right: 0px;
    bottom: 0px;
}

.link {
    padding: 5px;
    display: flex;
    flex-direction: column;
    color: var(--neon-blue);
}

.link:hover {
    color: var(--magenta);
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltipText {
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltipText {
    visibility: hidden;
    position: absolute;
    border: 1px solid var(--neon-blue);
    background: var(--neon-blue);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
}

.innerTooltipText {
    width: fit-content;
    height: fit-content;
    padding: 5px;

    inset: 1px;
    background: var(--yellow);
    color: var(--dark);
    clip-path: inherit;
}

.tooltip:hover .tooltipText {
    visibility: visible;
}