.containerBorder {
    height: 100%;
    width: 100%;
    clip-path: polygon(0 0, 35% 0, 40% 5%, 60% 5%, 65% 0, 100% 0, 100% 35%, 98% 40%, 98% 60%, 100% 65%, 100% 100%, 65% 100%, 60% 95%, 40% 95%, 35% 100%, 0 100%, 0 65%, 2% 60%, 2% 40%, 0 35%);
    background: #00fffb7b;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 99%;
    width: 99%;
    clip-path: inherit;
    border: 1px solid #00fffc;
    border-radius: inherit;
};