.view {
    height: 100%;
    width: 85%;

    display: flex;
    justify-content: flex-end;

    border-right: 1px solid var(--neon-blue);
    border-top: 1px solid var(--neon-blue);
    border-bottom: 1px solid var(--neon-blue);
    background: #00fffb18;

    clip-path: polygon(2% 8%, 0 0, 100% 0, 100% 100%, 0 100%, 2% 90%, 2% 75%, 8% 60%, 8% 40%, 2% 25%);

    -webkit-animation: openScreen .5s ease-in both;
    animation: openScreen .5s ease-in both;
}

@keyframes openScreen {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
}