.outerBox {
    position: relative;

    height: 250px;
    width: 350px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #00FFFC;
    background: #00FFFC;

    clip-path: polygon(10% 0, 100% 0, 100% 90%, 90% 100%, 0 100%, 0 10%);
}

.innerBox {
    position: absolute;

    height: 100%;
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;
    padding: 5px;

    background: #f6ff00;
    color: #000000;

    clip-path: inherit;

    overflow-y: scroll;
}