
.selector {
    padding: 0.5rem 1rem;
    cursor: pointer;

    border: 1px solid var(--secondary);
    border-radius: var(--radius);

    background-color: var(--primary);
    color: var(--primary-foreground);

    font-family: inherit;
    font-size: inherit;
    transition: all 0.5s ease;
}

.selector:hover {
    border: 1px solid var(--primary);
    border-radius: var(--radius);

    background-color: var(--secondary);
    color: var(--secondary-foreground);
}