.container {
    position: absolute;
    height: 125px;
    width: 125px;
    bottom: 10px;
    left: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 40%;

    animation: blinker 3s step-start infinite;
}

.tringleContainer {
    position: absolute;
    height: 70%;
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-left: 8px;

    clip-path: polygon(100% 100%, 0% 100%, 50% 0%);
    background: #d4ff00;
    border: 1px dashed #d4ff00;
}

.warningContainer {
    position: absolute;
    left: 110px;

    border: 1px solid #00FFFC;
    background: #00FFFC;

    min-width: fit-content;
    max-width: 100%;
    width: 200px;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
}

.warningInner {
    padding: 5px;
    background: #d4ff00;
    color: #000000;

    width: inherit;

    clip-path: inherit;
}

.warningMessage {
    position: absolute;
    left: 110px;

    display: flex;
    flex-direction: row;
    width: fit-content;

    /* border: 1px solid #d4ff00;
    background: #d4ff002f;
    position: absolute;
    left: 110px;
    width: fit-content;
    max-width: 100%;
    padding: 10px; */
}

/* Exclaim SVG */
.exclaim {
    height: 90%;
    width: 90%;
}

/* Baby Triangle */
.decorTringle {
    position: absolute;
    bottom: 5px;
    height: 10px;
    width: 10px;
    background: #d4ff00;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
}

.decor1 {
    position: absolute;
    top: 10px;
    height: 10px;
    width: 10px;
    background: #d4ff00;
    clip-path: polygon(0 100%, 50% 0, 100% 100%, 75% 75%, 50% 60%, 25% 75%);
}

.decor2 {
    position: absolute;
    bottom: 13px;
    right: 10px;
    height: 10px;
    width: 10px;
    background: #d4ff00;
    clip-path: polygon(0 100%, 50% 0, 100% 100%, 75% 75%, 50% 60%, 25% 75%);
    transform: rotate(120deg);
}

.decor3 {
    position: absolute;
    bottom: 13px;
    left: 10px;
    height: 10px;
    width: 10px;
    background: #d4ff00;
    clip-path: polygon(0 100%, 50% 0, 100% 100%, 75% 75%, 50% 60%, 25% 75%);
    transform: rotate(240deg);
}

@keyframes blinker {
    50% { opacity: 0; }
}