.menu {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 1px solid #00fffb35;
    border-radius: 50%;
    z-index: 1;
}

.menu ul {
    transform: rotate(180deg) translateY(-2em);
    transition: 1s ease-in-out;
    opacity: 0;
}

.menu:hover ul {
    transform: rotate(0deg) translateY(-1em) translateX(1.5em);
    transition: 1s ease-in-out;
    opacity: 1;
}

.outerItem {
    height: fit-content;
    width: fit-content;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #00FFFC;
    background: #00FFFC;

    clip-path: polygon(0 0, 100% 0, 100% 75%, 75% 100%, 0 100%);
}

.innerItem {
    height: 100%;
    width: 100%;
    min-width: fit-content;
    min-height: fit-content;
    padding: 5px;

    background: #f6ff00;
    color: #000000;

    text-decoration: none;

    clip-path: inherit;

    font-size: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.active {
    background: #f6ff00;
    border: 1px solid #f6ff00;
}

.activeChild {
    background: #00FFFC;
}

.innerItem:hover {
    color: #ff00ae;
}

.menu li:hover {
    background: #ff00ae;
    border: 1px solid #ff00ae;
}

.menu li {
    position: absolute;    
    transition: all 1s ease-in-out;
}

/* Home Route (/) */
li:nth-child(1).active {
    transform: rotate(0deg);
    left: 7em;
    top: 1.5em;
}

li:nth-child(1).active ~ li:nth-child(2) {
    transform: rotate(45deg);
    left: 4em;
    top: 8.3em;
}

li:nth-child(1).active ~ li:nth-child(3) {
    transform: rotate(90deg);
    left: -3.5em;
    top: 12em;
}

/* About Route */
li:nth-child(2).active {
    transform: rotate(0deg);
    left: 6.5em;
    top: 1.5em;
}

li:nth-child(1):not(.active):has(~ li:nth-child(2).active) {
    transform: rotate(-45deg);
    left: 4em;
    top: -4.5em;
}

li:nth-child(2).active ~ li:nth-child(3) {
    transform: rotate(45deg);
    left: 4em;
    top: 9em;
}

/* Projects Route */
li:nth-child(3).active {
    transform: rotate(0deg);
    left: 7em;
    top: 1.5em;
}

li:nth-child(1):not(.active):has(~ li:nth-child(3).active) {
    transform: rotate(-90deg);
    left: -2em;
    top: -7em;
}

li:nth-child(2):not(.active):has(~ li:nth-child(3).active) {
    transform: rotate(-45deg);
    left: 4em;
    top: -5em;
}