.size { --icon-size: 1.50rem !important; }
.delay { --radial-delay: 0.05s !important; }
.speed  { --radial-speed: 0.3s !important; }
.radius { --radius: 8rem !important; }

.radMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all var(--radial-speed) ease-in;
    z-index: 1;
    height: 275px;
    width: 275px;
}

.radMiddle {
    position: absolute;
    display: flex;
    transition: all var(--radial-speed) ease-in;
    width: var(--icon-size) !important;
    height: var(--icon-size) !important;
    cursor: pointer;
    z-index: inherit;
}

.radList {
    visibility: hidden;
    display: flex;
    position: relative;
    width: var(--icon-size) !important;
    height: var(--icon-size) !important;
    transition: all var(--radial-speed) ease-in;
    --center: calc(0.5 * var(--icon-size) - 1px);
    z-index: inherit;
}

.radMenu:hover .radList {
    visibility: visible;
}

.radMenu:not(:hover) .radList {
    visibility: hidden;
}

.label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    z-index: inherit;
    pointer-events: none;
}

.radMenu:hover .label {
    visibility: hidden;
}

.radList > * {
    visibility: hidden;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;    
    width: var(--icon-size);
    height: var(--icon-size);
    transition: all var(--radial-speed) ease-in;
}

.radMenu:hover .radList > * {
    visibility: visible;
    left: calc( var(--radius) * var(--left)  + (var(--center) - var(--icon-size) / 2));
    top:  calc( var(--radius) * var(--top)   + (var(--center) - var(--icon-size) / 2));        
}

.radMenu:hover .radList > * {
    -webkit-transition-delay: calc(var(--radial-delay) * var(--delay));
    -moz-transition-delay: calc(var(--radial-delay) * var(--delay));
    transition-delay: calc(var(--radial-delay) * var(--delay));
}

.position > *:nth-of-type(1)  { --top: -1.000 ; --left:  0.000 ; --delay: 0; } 
.position > *:nth-of-type(2)  { --top: -0.924 ; --left:  0.383 ; --delay: 1; }
.position > *:nth-of-type(3)  { --top: -0.707 ; --left:  0.707 ; --delay: 2; }
.position > *:nth-of-type(4)  { --top: -0.383 ; --left:  0.924 ; --delay: 3; }
.position > *:nth-of-type(5)  { --top:  0.000 ; --left:  1.000 ; --delay: 4; }
.position > *:nth-of-type(6)  { --top:  0.383 ; --left:  0.924 ; --delay: 5; }
.position > *:nth-of-type(7)  { --top:  0.707 ; --left:  0.707 ; --delay: 6; }
.position > *:nth-of-type(8)  { --top:  0.924 ; --left:  0.383 ; --delay: 7; }
.position > *:nth-of-type(9)  { --top:  1.000 ; --left:  0.000 ; --delay: 8; }
.position > *:nth-of-type(10) { --top:  0.924 ; --left: -0.383 ; --delay: 9; }
.position > *:nth-of-type(11) { --top:  0.707 ; --left: -0.707 ; --delay: 10; }
.position > *:nth-of-type(12) { --top:  0.383 ; --left: -0.924 ; --delay: 11; }
.position > *:nth-of-type(13) { --top:  0.000 ; --left: -1.000 ; --delay: 12; }
.position > *:nth-of-type(14) { --top: -0.383 ; --left: -0.924 ; --delay: 13; }
.position > *:nth-of-type(15) { --top: -0.707 ; --left: -0.707 ; --delay: 14; }
.position > *:nth-of-type(16) { --top: -0.924 ; --left: -0.383 ; --delay: 15; }

.menuItem {
    cursor: pointer;
}