:root {
  --background: #000000;
  --foreground: #ededed;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: var(--background);
  color: var(--foreground);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  padding: 5px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root[class~="light"] {
  --background: #F5F5F5;
  --foreground: #0F172A;

  --card: #ededed;
  --card-foreground: #1E293B; /* ? */
  
  --primary: #38A169;
  --primary-foreground: #F8F8F8;

  --secondary: #B0B0B0;
  --secondary-foreground: #334155;

  --muted: #f1f5f9;
  --muted-foreground: #AAAAAA;

  --accent: #f8fafc; /* ? */
  --accent-foreground: #F8F8F8;
  
  --destructive: #ff0000;
  --destructive-foreground: #F5F5F5;

  --border: #4CAF50;
  
  --radius: 0.5rem;

  --link-visited: #6B5B95;

  font-family: roboto;
  --title-font: charm;
  font-size: 1em;
}

:root[class~="dark"] {
  --background: #0f172a;
  --foreground: #f8fafc;

  --card: #1e293b;
  --card-foreground: #f1f5f9;
  
  --primary: #3b82f6;
  --primary-foreground: #ffffff;

  --secondary: #334155;
  --secondary-foreground: #f8fafc;

  --muted: #1e293b;
  --muted-foreground: #94a3b8;

  --accent: #1e293b;
  --accent-foreground: #38bdf8;

  --destructive: #ff0000;
  --destructive-foreground: #f8fafc;
    
  --border: #efefef;
  
  --radius: 0.5rem;

  --link-visited: #BB86FC;

  font-family: roboto;
  --title-font: charm;
  font-size: 1em;
}

:root[class~="cyberpunk"] {
  --cyan: #00FFB3;
  --magenta: #FF007A;
  --yellow: #FFEA00;
  --danger: #FF3D00;

  --background: #020418;

  --foreground: var(--cyan);
  --muted-foreground: #00ffb3c2;

  --card: #04072f;
    
  --primary: var(--magenta);
  --primary-foreground: var(--cyan);
  --primary-muted: #ff007bbe;
  
  --secondary: var(--cyan);
  --secondary-foreground: var(--magenta);
  --secondary-muted: #00ffb3c2;

  --tertiary: var(--yellow);
  --tertiary-foreground: #000000;
      
  --destructive: var(--danger);
  --destructive-foreground: #f8fafc;

  --border: var(--magenta);

  --radius: 0.5rem;

  --link-visited: #600042;

  font-family: orbitron;
  --title-font: dystopian;
  font-size: 1em;
}

@media (max-width: 768px) {
  body {
    padding: 2px; /* reduce padding on mobile */
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  :root[class~="light"],
  :root[class~="dark"],
  :root[class~="cyberpunk"] {
    --radius: 0.25rem;
  }

  /* :root[class~="light"] {
    mobile adjustments for light theme
  } */

  /* :root[class~="dark"] {
    mobile adjustments for light theme
  } */

  /* :root[class~="cyberpunk"] {
    mobile adjustments for light theme
  } */
}

@media (max-width: 480px) {
  body {
    padding: 1px; /* reduce padding on smaller screens */
    font-size: 12px;
  }
}
