.spacedText {
    font-size: 10px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.mainContainer {
    height: 85%;
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 100px;
}

.openScreen {
    height: 100%;
    width: 100%;
    -webkit-animation: openScreen .5s ease-in both;
    animation: openScreen .5s ease-in both;
}

@keyframes openScreen {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        opacity: 1;
    }
}

  
/* BOTTOM_RIGHT */
.decor3 {
    position: absolute;
    border-bottom: 2px dashed #00fffc;
    border-top: 2px solid rgb(255, 255, 0);
    height: 5px;
    width: 50px;
    bottom: 2px;
    right: 30px;
    opacity: 50%;
}

/* BOTTOM_LEFT */
.decor2 {
    position: absolute;
    border-left: 2px solid #00fffc;
    border-bottom: 2px solid #00fffc;
    height: 50px;
    width: 50px;
    bottom: 9px;
    left: 9px;
    border-bottom-left-radius: 20%;
    opacity: 50%;
}

/* TOP_RIGHT */
.decor1 {
    position: absolute;
    border-right: 2px solid #00fffc;
    border-top: 2px solid #00fffc;
    opacity: 50%;
    height: 60px;
    width: 110px;
    right: 9px;
    top: 9px;
    border-top-right-radius: 20% 25%;
    z-index: 2;
}

.decor1Arrow1 {
    position: absolute;
    top: -5px;
    right: 110px;
    height: 8px;
    width: 8px;
    background: #d4ff00;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    animation: blinker 1s step-start infinite;
    z-index: 2;
}

.decor1Arrow2 {
    position: absolute;
    top: -5px;
    right: 120px;
    height: 8px;
    width: 8px;
    background: #9dbc00;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    animation: blinker 1s step-start infinite;
    z-index: 2;
}

.decor1Arrow3 {
    position: absolute;
    top: -5px;
    right: 130px;
    height: 8px;
    width: 8px;
    background: #607400;
    clip-path: polygon(0 50%, 100% 100%, 100% 0);
    animation: blinker 1s step-start infinite;
    z-index: 2;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.topDecor {
    position: absolute;
    left: 40%;
    top: 1%;
    z-index: -10;
    width: 20%;
    height: 4%;
    border: 1px dashed #00fffc;
    opacity: 60%;
}