.glow {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  font-size: 2em;
  font-family: "dystopian";
  letter-spacing: 10px;
  text-transform: uppercase;
}
  
.green {
    animation: neongreen 1.5s ease-in-out infinite alternate;
}

.blue {
  animation: neonblue 1.5s ease-in-out infinite alternate;
}
  
.yellow {
    animation: neonyellow 1.5s ease-in-out infinite alternate;
}

.pink {
    animation: neonpink 1.5s ease-in-out infinite alternate;
}
  
/*glow*/
@keyframes neongreen {
    from {
      text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px var(--neon-green),
        0 0 70px var(--neon-green), 0 0 80px var(--neon-green), 0 0 100px var(--neon-green), 0 0 150px var(--neon-green);
    }
    to {
      text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 15px #FFFFFF, 0 0 20px var(--neon-green),
        0 0 35px var(--neon-green), 0 0 40px var(--neon-green), 0 0 50px var(--neon-green), 0 0 75px var(--neon-green);
    }
}

@keyframes neonblue {
  from {
    text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px var(--neon-blue),
      0 0 70px var(--neon-blue), 0 0 80px var(--neon-blue), 0 0 100px var(--neon-blue), 0 0 150px var(--neon-blue);
  }
  to {
    text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 15px #FFFFFF, 0 0 20px var(--neon-blue),
      0 0 35px var(--neon-blue), 0 0 40px var(--neon-blue), 0 0 50px var(--neon-blue), 0 0 75px var(--neon-blue);
  }
}
  
@keyframes neonyellow {
    from {
      text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px var(--yellow),
        0 0 70px var(--yellow), 0 0 80px var(--yellow), 0 0 100px var(--yellow), 0 0 150px var(--yellow);
    }

    to {
      text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 15px #FFFFFF, 0 0 20px var(--yellow),
        0 0 35px var(--yellow), 0 0 40px var(--yellow), 0 0 50px var(--yellow), 0 0 75px var(--yellow);
    }
}

@keyframes neonpink {
    from {
      text-shadow: 0 0 10px #FFFFFF, 0 0 20px #FFFFFF, 0 0 30px #FFFFFF, 0 0 40px var(--magenta),
        0 0 70px var(--magenta), 0 0 80px var(--magenta), 0 0 100px var(--magenta), 0 0 150px var(--magenta);
    }

    to {
      text-shadow: 0 0 5px #FFFFFF, 0 0 10px #FFFFFF, 0 0 15px #FFFFFF, 0 0 20px var(--magenta),
        0 0 35px var(--magenta), 0 0 40px var(--magenta), 0 0 50px var(--magenta), 0 0 75px var(--magenta);
    }
}