.container {
    position: relative;
    width: 100%;
    height: 10%;
    overflow: hidden;
    padding: 5px;
    padding-right: 30px;
    font-size: 5px;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--neon-blue-dark);
}

.text {
    margin: 0;
    display: flex;
    flex-direction: column;
    animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-50%);
    }
}